.overhead-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.filter-container,
.filter-container-mens {
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;
}

.filter-title {
	display: flex;
	justify-content: center;
	align-items: center;

}

.filter-button,
.reset-button,
.filter-button-mens,
.reset-button-mens {
	background-color: black;
	color: white;
	width: 25%;
	border-radius: 0.2rem;
	padding: 0.2rem;


}

.filter-button:hover,
.reset-button:hover {
	background-color: black;
	color: #ffb9b9;
}





.clothing-container,
.clothing-container-mens {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	margin: auto;
	padding-top: 15rem;
}

.clothing-row,
.clothing-row-mens {
	display: flex;
	flex-basis: 33%;
	background-color: white;
	width: 100%;
}

.clothing-img,
.clothing-imgmens {
	flex-basis: 25%;
	width: 25%;
	justify-self: center;
}

.clothing-img img {
	flex-basis: 25%;
	width: 15rem;
	height: 15rem;
	justify-self: center;
}

.clothing-imgmens img {
	flex-basis: 25%;
	width: 15rem;
	height: 15rem;
	justify-self: center;

}

.pricecontainer,
.pricecontainer-mens {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 15;
	gap: 0.2rem;

}

.items-added,
.items-added-mens {
	background-color: yellow;
	color: black;
	width: 100%;
	border-radius: 0.2rem;
	padding: 0.2rem;
	justify-content: center;
	align-items: center;
	display: flex;

}

.removesingle-button,
.removeall-button,
.removesinglemens-button,
.removeallmens-button {
	background-color: black;
	color: white;
	width: 100%;
	border-radius: 0.2rem;
	padding: 0.2rem;
}

.removeall-button:hover,
.removesingle-button:hover,
.removeallmens-button:hover,
.removesinglemens-button:hover {
	background-color: black;
	color: #ffb9b9;
}