.signoutbutton-visible {
	display: flex;
}

.signoutbutton {
	display: none;
}

.signinbutton {
	display: none;
}

.signinbutton-visible {
	display: flex;
}

.signupbutton {
	display: none;
}

.signupbutton-visible {
	display: flex;
}

.discounted-sweaters {
	display: none;
}

.discounted-sweaters-visible {
	display: flex;
}

.aluse {
	display: none;
}

.aluse-visible {
	display: flex;
}