.clothing-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: blue;
	height: 100vh;
	width: 100%;

}

.clothing-row {
	display: flex;
	flex-basis: 33%;
	background-color: white;
	width: 100%;
}

.clothing-img {
	flex-basis: 25%;
	width: 25%;
	justify-self: center;
}